<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ site.baseUrl }}">TemplatingDemo</a>
    <nav class="site-nav">
      <a href="{{ site.baseUrl }}">Home</a>
      <a href="{{ site.baseUrl }}about/">About</a>
      <a href="{{ site.baseUrl }}contact/">Contact</a>
    </nav>
  </div>
</header>